.first {
    background: #36393f;
    position: fixed;
    z-index: 10000;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: auto;
}

.second {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

.third {
    padding: 30px;
    margin: 5vw 0px;
    position: relative;
    max-width: 90vw;
    height: 500px;
    width: 380px;
    max-width: 90vw;
    word-wrap: break-word;
    border-radius: 5px;
    background-color: #292b2f;
}
