.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 6px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/*@font-face {
    font-family: Anek Devanagari;
    src: url(../AnekDevanagari.ttf);
}

* {
    font-family: 'Anek Devanagari';
}
*/

body {
    margin: 0px;
    padding: 0px;
}