@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/StyleAccessDenied.css" type="text/css" />

<div class="txt">Admin panel not available</div>
<button asp-controller="Home" asp-action="Index" class="buttonHome">Home</button>
