@model AddSoftwareViewModel

@{
    Layout = "_Layout";
}

<h1>Add Software</h1>

<form asp-controller="Admin" asp-action="AddSoftware" method="post">
    <input hidden asp-for="ReturnUrl" />
    <div>
        <span asp-validation-for="Name"></span><br />
        <label>Name</label>
        <input asp-for="Name"/>
    </div>

    <div>
        <span asp-validation-for="ShortInformation"></span><br />
        <label>Short Information</label>
        <input asp-for="ShortInformation"/>
    </div>

    <div>
        <span asp-validation-for="Information"></span><br />
        <label>Information</label>
        <input asp-for="Information"/>
    </div>

    <div>
        <span asp-validation-for="Price"></span><br />
        <label>Price</label>
        <input asp-for="Price"/>
    </div>

    <p>
        <button type="submit">Add software</button>
    </p>
</form>

<a asp-controller="Admin" asp-action="Index">[Admin]</a>
<a asp-controller="Home" asp-action="Index">[Home]</a>