@model AddSoftwareViewModel

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/StyleAddSoftware.css" />

<form method="post" id="addSoftwareForm">
    <input hidden asp-for="ReturnUrl" />
    <div id="title">Add software</div>
    <div>
        <div id="subtitle">Name <span asp-validation-for="Name"></span></div>
        <input asp-for="Name" class="input" />
    </div>
    <div>
        <div id="subtitle">Short Information <span asp-validation-for="ShortInformation"></span></div>
        <input asp-for="ShortInformation" class="input" />
    </div>
    <div>
        <div id="subtitle">Information <span asp-validation-for="Information"></span></div>
        <input asp-for="Information" class="input" />
    </div>
    <div>
        <div id="subtitle">Price <span asp-validation-for="Price"></span></div>
        <input asp-for="Price" class="input" />
    </div>

    <button asp-controller="Admin" asp-action="AddSoftware" type="submit" class="button">Add</button>
    <a asp-controller="Admin" asp-action="Index" class="button">Admin panel</a>
    <a asp-controller="Home" asp-action="Index" class="button">Home</a>
</form>