@model GiveSoftwareViewModel

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/StyleGiveSoftware.css" />

<form method="post" id="giveSoftwareForm">
    <input hidden asp-for="ReturnUrl" />
    <div id="title">Give software</div>
    <div>
        <div id="subtitle">Name account <span asp-validation-for="Account"></span></div>
        <input asp-for="Account" class="input" />
    </div>

    <div>
        <div id="subtitle">Name software <span asp-validation-for="Software"></span></div>
        <input asp-for="Software" class="input" />
    </div>

    <button asp-controller="Admin" asp-action="GiveSoftware" type="submit" class="button">Give software</button>
    <a asp-controller="Admin" asp-action="Index" class="button">Admin panel</a>
    <a asp-controller="Home" asp-action="Index" class="button">Home</a>
</form>