@model GiveAdminViewModel

@{
    Layout = "_Layout";
}


<link rel="stylesheet" href="~/css/StyleGiveAdmin.css" />

<form method="post" id="giveAdminForm">
    <input hidden asp-for="ReturnUrl" />
    <div id="title">Give Admin</div>
    <div>
        <div id="subtitle">Name <span asp-validation-for="Name"></span></div>
        <input asp-for="Name" class="input"/>
    </div>

    <button asp-controller="Admin" asp-action="GiveAdmin" type="submit" class="button">Give admin</button>
    <a asp-controller="Admin" asp-action="Index" class="button">Admin panel</a>
    <a asp-controller="Home" asp-action="Index" class="button">Home</a>
</form>