@model GiveAdminViewModel

@{
    Layout = "_Layout";
}

<h1>Give Admin</h1>

<form asp-controller="Admin" asp-action="GiveAdmin" method="post">
    <input hidden asp-for="ReturnUrl" />
    <div>
        <label>Name</label>
        <input asp-for="Name"/>
    </div>

    <p>
        <button type="submit">Give admin</button>
    </p>
</form>

<a asp-controller="Admin" asp-action="Index">[Admin]</a>
<a asp-controller="Home" asp-action="Index">[Home]</a>