@{
    Layout = "_Layout";
}

<h1>Admin</h1>

<a asp-controller="Admin" asp-action="GiveAdmin">[Give Admin]</a>
<a asp-controller="Admin" asp-action="GiveSoftware">[Give Software]</a>
<a asp-controller="Admin" asp-action="AddSoftware">[Add Software]</a>

<a asp-controller="Home" asp-action="Index">[Home]</a>