button {
    cursor: pointer;
    transition: all 0.05s linear;
}

button:active {
    transition: all 0.05s linear;
}

body{
    padding: 16px 32px;
}

#Center {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 100;
    margin: auto;
}

#Head {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px #d9d9d9;
    border-radius: 18px;
    background: #eeeeee;
}

.HeadPanelSortby {
    margin: auto 5px auto 15px;
}

.HeadPanelInput {
    margin: 5px 15px 5px 15px;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 8px;
    padding-right: 8px;
    width: 200px;
    border: solid 1px #d9d9d9;
    border-radius: 11px;
    font-size: 16px;
    outline: none;
    transition: all 0.2s linear;
}

.HeadPanelInput:focus {
    background-color: #eaeaea;
    transition: all 0.2s linear;
}

.Head2Start {
    float: right;
    margin: 5px 15px 5px 15px;
    padding: 4px 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 0px;
    border-radius: 18px;
    background-color: #57c49e;
    font-size: 14px;
    text-decoration: none;
    color: black;
    vertical-align: middle;
}

.Head2Start:active {
    background-color: #4d957c;
}

.HeadPanelName {
    font-size: 16px;
    margin: auto 5px auto 15px;

}

.form_radio_btn {
    display: inline-block;
}

.form_radio_btn input[type=radio] {
    display: none;
}

.form_radio_btn label {
    line-height: 24px;
    margin: 5px 0px 5px 15px;
    display: inline-block;
    cursor: pointer;
    padding: 0px 30px;
    height: 22px;
    border: solid 1px #57c49e;
    background-color: #ffffff;
    border-radius: 18px;
    font-size: 14px;
}

.form_radio_btn input[type=radio]:checked + label {
    background: #57c49e;
}

#Body {
    flex-grow: 100;
    margin-top: 24px;
    overflow-y: auto;
    user-select: text;
}

#masonry-container {
    --gap: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 322px);
    column-gap: var(--gap);
    grid-auto-rows: 24px;
    justify-content: space-around;
}

#pseudo-img {
    font-size: 14px;
    width: 280px;
    word-wrap: break-word;
    border: solid 3px #57c49e;
    border-radius: 8px;
    background-color: #eeeeee;
    padding: 20px;
    margin: 8px 12px;
}

#pseudo-img:active {
    background-color: e4e4e4;
}


#WordContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    word-wrap: break-word;
}

#WordContentHead {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

#WordContentImage {
    display: block;
    margin: auto;
    height: 200px;
    margin-bottom: 20px;
}

#WordContentShortDescription {
    flex-grow: 100;
    text-align: justify;
    margin-bottom: 20px;
}

#WordContentPrice {
    font-size: 20px;
    text-align: left;
}


/* полоса прокрутки (скроллбар) */
#Center ::-webkit-scrollbar {
    width: 10px; /* ширина для вертикального скролла */
    height: 10px; /* высота для горизонтального скролла */
    background-color: #eeeeee;
    border: solid 1px #d9d9d9;
    border-radius: 5px;
}

/* ползунок скроллбара */
#Center ::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 5px;
}
