@{
    Layout = "_Layout";
}

<h1> Buy </h1>
<div>
    To purchase, transfer money to this card: 4276 4900 1324 5907
</div>
<div>
    When paying, write the name of your account and the name of the program you are buying in the comments
</div>
<a asp-controller="Home" asp-action="Index">[Home]</a>
