@model List<IndexViewModel>

@{
	Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/StyleMainPages.css" type="text/css" />

<div>
    <form>
        @foreach (var i in @Model)
        {
            <button asp-controller="Home" asp-action="Product" asp-route-id=@i.Software.Name class='buttonProduct'>
                <div id="insideButton">
                    <h2 class="swName">@i.Software.Name</h2>
                    <img src="~/images/@{
                    @i.Software.Name}.png" alt="" class="productImage" />

                    <div class="shortInf">@i.Software.ShortInformation</div>
                    <div class="priceProduct">Price:@i.Software.Price</div>
                </div>
            </button>
        }
    </form>
</div>