

@{
    Layout = "_Layout";
}


<h1>Products</h1>
<div>
    <a asp-controller="Home" asp-action="Product" asp-route-id="Product1">[Product1]</a>
    <a asp-controller="Home" asp-action="Product" asp-route-id="Product2">[Product2]</a>
    <a asp-controller="Home" asp-action="Product" asp-route-id="Product3">[Product3]</a>
</div>