<h1>Software Store</h1>

<div>IsAuthenticated : @ViewBag.IsAuthenticated</div>

<a asp-controller="Account" asp-action="Login">[Login]</a>
<a asp-controller="Account" asp-action="Registration">[Registration]</a>
