<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/css/Styles.css" type="text/css" />
	<link rel="stylesheet" href="~/css/StyleAccountLayout.css" type="text/css" />
</head>
<body spellcheck="false">
	<div class="first">
		<div class="second">
			<div class="third">
				@RenderBody()
			</div>
		</div>
	</div>
</body>
</html>
