

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Working with Visual Studio</title>
    <link rel="stylesheet" href="~/css/AllStyles.css"/>
    <link rel="stylesheet" href="~/css/Error.css"/>
    <link rel="stylesheet" href="~/css/Start/AllStart.css"/>
</head>
 

    <body spellcheck="false">
        <div class="CenterFirstBlock">
            <div class="CenterSecondBlock">
                <div class="Block1" id="Form">
                    <div id="Body">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

