@model RegistrationViewModel
<h1>Registration</h1>

<form asp-controller="Account" asp-action="Registration" method="post">
    <input hidden asp-for="ReturnUrl" />
    <div>
        <label>Name</label>
        <input asp-for="Name"/>
    </div>

    <div>
        <label>Email</label>
        <input asp-for="Email"/>
    </div>
    
    <div>
        <label>Password</label>
        <input asp-for="Password"/>
    </div>

    <p>
        <button type="submit">Registration</button>
    </p>
</form>

<a asp-controller="Account" asp-action="Login">[Login]</a>