@model RegistrationViewModel

@{
    Layout = "_AccountLayout";
}

<link rel="stylesheet" href="~/css/StyleRegistration.css" />

<form asp-controller="Account" style="width: 100%; height: 100%">
    <input hidden asp-for="ReturnUrl" />
    <div id="LoginText">Registration</div>
    <div>
        <div class="subtitle">Name <span asp-validation-for="Name"></span><br /></div>
        <input asp-for="Name" class="input1" />
    </div>
    <div>
        <div class="subtitle">Email <span asp-validation-for="Email"></span></div>
        <input asp-for="Email" class="input1" />
    </div>
    <div>
        <div class="subtitle">Password <span asp-validation-for="Password"></span></div>
        <input asp-for="Password" class="input1" />
    </div>

    <button asp-action="Registration" id="buttonRegistration" class="button">Registration</button>
    <a asp-action="Login" id="buttonLogin" class="button">Login</a>
</form>
